@import "tailwindcss";

@theme {
  --color-brand: #FE719A;
  --color-brand-hover: #F7BCD0;
  --color-archival: #E07A7A;
  --font-serif: "Instrument Serif", serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

@layer base {
  h1 {
    @apply font-serif font-normal tracking-normal text-slate-950;
  }
}

:root {
  /* Define el radio que usa el componente de Tailwind UI */
  --radius-lg: 1rem; 
}